
.customPhone {
  width: 338px !important;
  height: 525px !important;
  top: -100px !important;
  box-shadow: -10px 10px rgba(0,0,0,.4) !important;
}

.customPhoneCamera {
  background: #bcbdbd !important;
}

.customPhoneSpeaker {
  background: #bcbdbd !important;
}

.customPhoneScreen {
  box-shadow: 0 0 0 3px #bcbdbd !important;
}

.customPhoneSensor {
  background: #bcbdbd !important;
}

.customIpad {
  box-shadow: -10px 10px rgba(0,0,0,.4) !important;
  margin-left: 50px !important;
  top: -20px !important;
  background: #d4d4d5 !important;
}

.customIpadScreen {
  box-shadow: 0 0 0 3px #bcbdbd !important;
}
