.landingHeader-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 850px;
  overflow: inherit;
}

.landingHeader-stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  z-index: -1;
}

.landingHeader-firstStripe {
  width: 33.33333%;
  left: -16.66666%;
  background: #53f;
  top: 0;
  left: 0;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
}

.landingHeader-secondStripe {
  width: 33.33333%;
  top: 0;
  left: 16.66666%;
  right: auto;
  background: #4553ff;
  bottom: auto;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.landingHeader-thirdStripe {
  width: 33.33333%;
  left: 49.99999%;
  bottom: auto;
  background: #4f40ff;
  right: auto;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.landingHeader-fourthStripe {
  width: 33.33333%;
  top: 380px;
  right: -16.66666%;
  background: #25ddf5;
  height: 190px;
  position: absolute;
}

.landingHeader-fifthStripe {
  width: 33.33333%;
  bottom: 0;
  left: 0;
  background: #1fa2ff;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.intro-mainSection {
  position: absolute;
  width: 100%;
  height: 850px;
  top: 0;
}

.intro-mainContainer {
  max-width: 1100px;
  width: 70%;
  margin: auto;
  top: 28%;
  position: relative;
  padding-left: 20px;
}

.intro-mainHeading {
  font-weight: lighter !important;
  color: white !important;
}

.intro-badgeDiv {
  width: 374px;
  margin-left: -4px;
  padding-left: 5px;
  background-color: rgba(0, 0, 140, 0.08);
  border-radius: 10px;
  margin-top: -110px;
  margin-bottom: 50px;
}

.intro-badge {
  color: white !important;
  display: inline-block;
}

.intro-badgeText {
  font-size: 0.8125rem;
  line-height: 2.5;
  font-weight: lighter !important;
  margin-left: 10px;
}

.intro-introText {
  margin-top: 25px;
  max-width: 500px;
  font-weight: lighter !important;
  color: white !important;
}

.intro-introButton {
  margin-top: 60px;
}

.illustrations-mainSection {
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 1522px;
  overflow: inherit;
  overflow-x: hidden;
  min-width: 1150px;
}

.illustrations-mainContainer {
  position: relative;
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  flex-wrap: wrap;
  top: 2%;
  left: 50%;
  height: 800px;
  min-width: 1200px;
  max-width: 1600px;
}

.illustrations-tablet {
  margin-left: -308px;
  margin-top: 195px;
  width: 1056px;
  height: 727px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 87px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -webkit-transform: scale(0.5) rotate(0deg) translateX(50px);
  transform: scale(0.5) rotate(-94deg) translateX(50px);
}

.illustrations-tabletImg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 684px;
  border: 4px solid #80808052;
  border-radius: 17px;
  padding: 14px;
}

.illustrations-tablet2 {
  margin-left: 132px;
  margin-top: -641px;
  width: 1374px;
  height: 906px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 87px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -webkit-transform: scale(0.5) rotate(0deg) translateX(50px);
  transform: scale(0.5) rotate(-184deg) translateX(50px);
}

.illustrations-tabletImg2 {
  -webkit-transform: rotate(90deg);
  transform: rotate(180deg);
  width: 1129px;
  height: 847px;
  border: 4px solid #80808052;
  border-radius: 17px;
  padding: 14px;
}

.illustrations-phone {
  margin-left: 79px;
  margin-top: -545px;
  width: 390px;
  height: 739px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -webkit-transform: scale(0.5) rotate(0deg) translateX(50px);
  transform: scale(0.5) rotate(-4deg) translateX(50px);
}

.illustrations-phoneImg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 860px;
  height: 375px;
  border: 3px solid #80808052;
  border-radius: 14px;
  padding: 9px;
}

.illustrations-phone2 {
  margin-left: 280px;
  margin-top: -1558px;
  width: 504px;
  height: 866px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -webkit-transform: scale(0.5) rotate(0deg) translateX(50px);
  transform: scale(0.5) rotate(-4deg) translateX(50px);
}

.illustrations-phoneImg2 {
  -webkit-transform: rotate(90deg);
  transform: rotate(0deg);
  width: 478px;
  height: 695px;
  border: 3px solid #80808052;
  border-radius: 14px;
  padding: 9px;
  filter: brightness(93%);
  opacity: 0.8;
}
