header {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 850px;
  margin-top: -120px;
}

.mainHome {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: -20px;
}

.mainHomeMobile {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: -25%;
  z-index: -1001;
}

.stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
}

.firstStripe {
  width: 33.33333%;
  left: -16.66666%;
  background: #53f;
  top: 0;
  left: 0;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.secondStripe {
  width: 33.33333%;
  top: 0;
  left: 16.66666%;
  right: auto;
  background: #4553ff;
  bottom: auto;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.thirdStripe {
  width: 33.33333%;
  left: 49.99999%;
  bottom: auto;
  background: #4f40ff;
  right: auto;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.fourthStripe {
  width: 33.33333%;
  top: 380px;
  right: -16.66666%;
  background: #25ddf5;
  height: 190px;
  position: absolute;
}

.fifthStripe {
  width: 33.33333%;
  bottom: 0;
  left: 0;
  background: #1fa2ff;
  height: 190px;
  position: absolute;
  box-sizing: border-box;
}

.intro {
  width: 80%;
  height: 760px;
  max-width: 1000px;
  margin: -660px auto;
  position: relative;
}

.introContent {
  max-width: 600px;
  min-width: 266px;
  margin-bottom: 200px;
  margin-top: 40px;
  text-align: left;
}

.introContentMobile {
  text-align: left;
  margin-top: 50px;
}

.introTitle {
  color: white !important;
}

.introPara {
  max-width: 400px;
  color: white !important;
  font-size: 1.11em;
}

.iphoneContainer {
  position: relative;
  margin-top: -320px;
  margin-right: -1800px;
  transform: skew(12deg) rotate(-12deg);
}

.iphoneContainerTablet {
  position: relative;
  margin-top: -220px;
  margin-right: -1650px;
  transform: skew(12deg) rotate(-12deg);
}

.signUpButton {
  margin-top: 30px !important;
  color: white !important;
  box-shadow: 0px 8px 30px rgba(0,0,0,0.2) !important;
}

.middleSegment {
  padding-top: 1em;
  padding-bottom: 8em;
  border-bottom: none !important;
}

.middleGrid {
  width: 100% !important;
  text-align: center;
  position: relative;
  margin: 0 !important;
}

.middleRow {
  width: 100% !important;
  position: relative;
  text-align: center;
}

.middleColumn {
  width: 80% !important;
  max-width: 1000px !important;
  text-align: left !important;
  margin: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  flex-grow: 0 !important;
}

.middleColumnMobile {
  max-width: 1000px !important;
  text-align: left !important;
  flex-grow: 0 !important;
}

.middlePara {
  font-size: 1.33em;
  color: #525f7f;
  max-width: 600px;
  width: 70% !important;
}

.greyMiddleSection {
  margin-top: 3%;
  height: 1200px;
  width: 100%;
  position: relative;
  background-color: rgba(0,0,0,.05);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
}

.bottomSegment {
  width: 100% !important;
  text-align: center;
  position: relative;
  margin-top: -500px !important;
  padding-bottom: 500px;
  border: none !important;
}

.bottomGrid {
  width: 100% !important;
  text-align: center;
  position: relative;
  margin: auto !important;
  margin-top: -500px !important;
  margin-bottom: 100px !important;
}

.bottomGridMobile {
  width: 100% !important;
  text-align: center;
  position: relative;
  margin: auto !important;
  margin-top: -602px !important;
  margin-bottom: 100px !important;
}

.bottomRow {
  width: 80% !important;
  text-align: center;
  position: relative;
  margin: auto !important;
}

.bottomColumn {
  width: 50% !important;
  max-width: 500px !important;
  margin: auto;
}

.whiteBottomSection {
  height: 600px;
  width: 100%;
  background-color: white;
  position: relative;
}

.listStyle {
  text-align: left;
  margin-left: 20% !important;
  max-width: 400px !important;
  min-width: 200px !important;
}

.listHeader {
  color: #525f7f;
  margin-left: 0px !important;
  font-size: 1.33em !important;
  padding-bottom: 20px !important;
}

.listItem {
  font-size: 1.33em;
  max-width: 400px !important;
  min-width: 200px !important;
  color: #525f7f;
}

.nswImage {
  width: 63% !important;
  max-width: 230px !important;
  margin: auto !important;
  margin-top: 7% !important;
}

.qldImage {
  width: 70% !important;
  max-width: 230px !important;
  margin: auto !important;
}

.vicImage {
  width: 91% !important;
  max-width: 300px !important;
  margin-top: 18.1%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.saImage {
  width: 85% !important;
  max-width: 280px !important;
  margin: auto !important;
}

.jurisdictionGrid {
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: -510px !important;
  width: 80% !important;
  text-align: center;
  max-width: 1000px !important;
}

.jurisdictionHead {
  font-size: 2em;
  margin: auto !important;
  margin-bottom: 80px !important;
}

.chartSegment {
  margin-top: -100px !important;
  background-color: #f2f2f2 !important;
  height: 400px;
  text-align: center;
}

.chartHead {
  font-size: 2em;
  margin: auto !important;
  margin-bottom: 80px !important;
  margin-top: 90px !important;
}
