.globalContent {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

.main {
  height: 100%;
  min-height: 100%;
}

.mainSegment {
  background-color: #fff !important;
}

.mobileMainSegment {
  background-color: transparent !important;
}

.navContainer {
  border-bottom: none !important;
  border: none !important;
  margin-top: 12px !important;
}

.menuContainer {
  z-index: 100000;
  width: 80% !important;
  max-width: 1000px !important;
}

.mobileMenuContainer {
  margin-top: -6px !important;
  border: none !important;
}

.mainFooter {
  background-color: #bcbdbd !important;
  bottom: 100px !important;
  margin-top: 0px !important;
}

.brand {
  margin-bottom: -20px !important;
  margin-left: -14px !important;
  width: 90px !important;
}

.mobileBrand {
  margin-bottom: -12px !important;
  margin-left: -14px !important;
  width: 90px !important;
}
