.globalContent {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

.main {
  height: 100%;
  min-height: 100%;
}

.mainSegment {
  background-color: #fff !important;
}

.mobileMainSegment {
  background-color: transparent !important;
}

.navContainer {
  border-bottom: none !important;
  border: none !important;
  margin-top: 12px !important;
}

.menuContainer {
  z-index: 100000;
  width: 80% !important;
  max-width: 1000px !important;
}

.mobileNavContainer {
  border: none !important;
  margin-top: 12px !important;
}

.mainFooter {
  background-color: #bcbdbd !important;
  bottom: 0 !important;
}
