@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


html {
  margin: 0;
  background-clip: content-box;
  // background-image: url('./image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;

  background-origin: content-box;

  -webkit-overflow-scrolling: touch;

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto !important;

    pre {
      opacity: 0 !important;
    }
  }

  @media print {
    background-image: initial;
  }
}

.root {
  width: 100%;
  height: 100%;
}

input {
  border-radius: 0;
}
