
.nav {
  display: flex;
  justify-content: space-between;
}

.brand {
  color: #3c5cf2;
  margin: 0 !important;
  padding-top: 12px !important;
  padding-right: 40px !important;
  cursor: pointer !important;
}

.brandLink {
  text-decoration: none;
}

.horizontal {
  display: flex;
}

.item {
  list-style: none;
  padding: 8px;
}

.search {
  margin-right: 0;
  padding: 8px;
}

.searchItem {
  width: 100%;
  list-style: none;
  padding: 24px;
  max-width: 700px;
}

@media only screen and (max-width : 320px) {
  .horizontal .item p{
    display: none;
  }
}
